# ===== Android / Gradle =====
*.iml
.gradle/
build/
local.properties
.externalNativeBuild/
.cxx/

# ===== Android Studio =====
.idea/
captures/

# ===== Kotlin =====
*.class

# ===== Python =====
__pycache__/
*.pyc
*.pyo

# ===== OS =====
.DS_Store
Thumbs.db
